# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Курсы GeekBrains. 2020\Основы Python. Ростелеком\Урок 2\Урок 2. Практическое задание\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
